@import "utilities";

#timeline-inner {
    .profile {
        display: inline-block;
        @include dimensions(175px, 110px);
        margin: 15px 0 5px;
        vertical-align: middle;
    }
        
    .profile-image {
        display: block;
        @include dimensions(60px, 60px);
        border-radius: 50%;
        margin: 0 auto 5px;
    }   

    .name {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5px;
    }

    .handle {
        text-align: center;
        font-size: 12px;
    }
}