$home-timeline-color-one: #e8f5fd;
$home-timeline-color-two: #e9e9e9;
$user-timeline-color-one: #f5f8fa;
$user-timeline-color-two: #1da1f2;
$message-text-color: black;

@mixin dimensions($width, $height) {
	width: $width;
	height: $height;
}

@mixin tweet-style($background-color, $border-bottom) {
	background-color: $background-color;
	border-bottom: $border-bottom;
}

@mixin outer-container($position, $percentage) {
	float: $position;
	width: $percentage;
}

%home-timeline-inner-container {
	border: 1px solid;
	margin: 44px 10px 40px 25px;
}

%user-timeline-inner-container {
	border: 1px solid;
	margin: 44px 25px 40px 10px;
}

%title-style {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

%button-wrapper-div {
	position: absolute;
	margin-top: 34px;
}

%button-style {
	padding: 5px;
	border-radius: 10px;
}

* {
	font-family: Montserrat;
}

body {
	#title {
		text-align: center;
		font-weight: bold;
		font-size: 40pt;
	}
}

#timeline {
	.homeTimeline {
		@include outer-container(left, 55%);
		position: absolute;
		.homeTimelineHeader {
			#pullHomeTimeline {
				@extend %button-wrapper-div;
				margin-left: 25px;
				left: 0;

				.pullHomeTimelineButton {
					@extend %button-style;
				}
			}

			.filterHomeTimeline {
				position: absolute;
				margin-top: 42px;
				margin-right: 10px;
				right: 0;

				.filter-keyword {
					border: 1px solid black;
					margin-right: 5px;
				}
			}
			.homeTimelineTitle {
				@extend %title-style;
			}
		}


		.error {
			@extend %home-timeline-inner-container;
			padding: 10px;
		}

		#timeline-inner {
			@extend %home-timeline-inner-container;

			.tweet-style-one-last-tweet {
				@include tweet-style($home-timeline-color-one, 0px);
			}

			.tweet-style-two-last-tweet {
				@include tweet-style($home-timeline-color-two, 0px);
			}

			.tweet-style-one {
				@include tweet-style($home-timeline-color-one, 1px solid lightgrey);
			}

			.tweet-style-two {
				@include tweet-style($home-timeline-color-two, 1px solid lightgrey);
			}

			.message {
				width: 33vw;
			}
		}
	}

	.userTimeline {
		@include outer-container(right, 45%);

		.userTimelineHeader {
			#pullUserTimeline {
				@extend %button-wrapper-div;
				margin-right: 30px;
				right: 0;
				.pullUserTimelineButton {
					@extend %button-style;
				}
			}

			.userTimelineTitle {
				@extend %title-style;
			}
		}

		.error{
			@extend %user-timeline-inner-container;
			padding: 10px;
		}

		#timeline-inner {
			@extend %user-timeline-inner-container;

			.tweet-style-one-last-tweet {
				@include tweet-style($user-timeline-color-one, 0px);
			}

			.tweet-style-two-last-tweet {
				@include tweet-style($user-timeline-color-two, 0px);
			}

			.tweet-style-one {
				@include tweet-style($user-timeline-color-one, 1px solid lightgrey);
			}

			.tweet-style-two {
				@include tweet-style($user-timeline-color-two, 1px solid lightgrey);
			}

			.message {
				width: 24vw;
			}
		}
	}


	#timeline-inner {
		.profile {
			display: inline-block;
			@include dimensions(175px, 110px);
			margin: 15px 0 5px;
			vertical-align: middle;

			.profile-image {
				display: block;
				@include dimensions(60px, 60px);
				border-radius: 50%;
				margin: 0 auto 5px;
			}   

			.name {
				font-size: 14px;
				font-weight: bold;
				text-align: center;
				margin-bottom: 5px;
			}

			.handle {
				text-align: center;
				font-size: 12px;
			}
		}

		.message {
			display: inline-block;
			vertical-align: middle;

			.timestamp {
				font-style: italic;
				font-size: 10px;
				padding-bottom: 4px;
			}

			.message-link {
				text-decoration: none;
				font-size: 14px;
				color: $message-text-color;
				word-break: break-word;
			}
		}
	}

	&::after {
		clear: both;
	}
}
