$tweet-style-one-color: #e8f5fd;
$tweet-style-two-color: #e9e9e9;

@mixin dimensions($width, $height) {
    width: $width;
    height: $height;
}

@mixin tweet-style($background-color, $border-bottom) {
    background-color: $background-color;
    border-bottom: $border-bottom;
}

* {
    font-family: Montserrat;
}

#title {
    text-align: center;
    font-size: 40pt;
    font-weight: bold;
}

#header {
    margin-left: 40px;
}

#pullTimeline {
    padding: 5px;
    border-radius: 10px;
}

div.error {
    padding: 10px;
}

#timeline-inner {
    border: 1px solid;
    margin: 10px 40px 40px;
}

div.tweet-style-one-last-tweet {
    @include tweet-style($tweet-style-one-color, 0px);
}

div.tweet-style-two-last-tweet {
    @include tweet-style($tweet-style-two-color, 0px);
}

div.tweet-style-one {
    @include tweet-style($tweet-style-one-color, 1px solid lightgrey);
}

div.tweet-style-two {
    @include tweet-style($tweet-style-two-color, 1px solid lightgrey);
}

div.profile {
    display: inline-block;
    @include dimensions(175px, 110px);
    margin: 15px 0 5px;
    vertical-align: middle;
}

div.message {
    display: inline-block;
    width: 75vw;
    vertical-align: middle;
}

img.profile-image {
    display: block;
    @include dimensions(60px, 60px);
    border-radius: 50%;
    margin: 0 auto 5px;
}

div.name {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

div.handle {
    text-align: center;
    font-size: 12px;
}

div.timestamp {
    font-style: italic;
    font-size: 10px;
    padding-bottom: 4px;
}

a.message-link {
    text-decoration: none;
    font-size: 14px;
    color: black;
    word-break: break-word;
}
