$home-timeline-color-one: #e8f5fd;
$home-timeline-color-two: #e9e9e9;
$user-timeline-color-one: #f5f8fa;
$user-timeline-color-two: #1da1f2;
$message-text-color: black;

@mixin dimensions($width, $height) {
	width: $width;
	height: $height;
}

@mixin tweet-style($background-color, $border-bottom) {
	background-color: $background-color;
	border-bottom: $border-bottom;
}

@mixin tab-border-left-right($left, $right) {
	border-left: $left solid;
	border-right: $right solid;
}

%title-style {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

%tab {
	cursor: default;
	padding: 5px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-top: 2px solid;
}

* {
	font-family: Montserrat;
}

body {
	#title {
		text-align: center;
		font-weight: bold;
		font-size: 40pt;
	}
}

.tab-wrapper {
	.tab-nav {
		margin: 0 auto;
		padding-bottom: 5px;
		border-bottom: 2px solid gainsboro; 

		a {
			&:hover {
				background-color: lightblue;
			}
		}

		.tab-active {
			background-color: cadetblue;
		}

		.tab-0 {
			margin-left: 23px;
			@extend %tab;
			@include tab-border-left-right(2px, 1px);
		}

		.tab-1 {
			@extend %tab;
			@include tab-border-left-right(1px, 1px);
		}

		.tab-2 {
			@extend %tab;
			@include tab-border-left-right(1px, 2px);
		}
	}

}

.post-tweet {
	position: fixed;
	margin-top: 20px;
	left: calc(50%);
	transform: translate(-50%);

	.post-tweet-input {
		.tweet-message {
			position: absolute;
			padding: 10px;
		    text-align: left;
		    font-size: 15px;
			height: 250px;
			width: 500px;
			resize: none;
		}

		.tweet-character-count {
			position: absolute;
			font-size: 13px;
			color: silver;
			margin-top: 225px;
			margin-left: 470px;
		}
	}

	.post-tweet-footer {
		.post-tweet-status {
			display: inline-block;
			text-align: right;
			font-size: 13px;
			margin-top: 255px;
			margin-right: 3px;
			width: 423px;
		}

		.post-tweet-button-wrapper {
			display: inline-block;
			margin-top: 255px;
		}
	}
}

.timeline {
	overflow: auto;
	.homeTimeline {
		position: absolute;

		.timelineHeader {
			.filterHomeTimeline {
				position: absolute;
				margin-right: 70px;
				margin-top: 27px;
				right: 0;

				.filter-keyword {
					border: 1px solid black;
					margin-right: 5px;
				}
			}
		}

		#timeline-inner {
			.tweet-style-one-last-tweet {
				@include tweet-style($home-timeline-color-one, 0px);
			}

			.tweet-style-two-last-tweet {
				@include tweet-style($home-timeline-color-two, 0px);
			}

			.tweet-style-one {
				@include tweet-style($home-timeline-color-one, 1px solid lightgrey);
			}

			.tweet-style-two {
				@include tweet-style($home-timeline-color-two, 1px solid lightgrey);
			}
		}
	}

	.userTimeline {
		position: absolute;

		#timeline-inner {
			.tweet-style-one-last-tweet {
				@include tweet-style($user-timeline-color-one, 0px);
			}

			.tweet-style-two-last-tweet {
				@include tweet-style($user-timeline-color-two, 0px);
			}

			.tweet-style-one {
				@include tweet-style($user-timeline-color-one, 1px solid lightgrey);
			}

			.tweet-style-two {
				@include tweet-style($user-timeline-color-two, 1px solid lightgrey);
			}
		}
	}

	.timelineHeader {
		margin-bottom: 55px;
		#pullTimeline {
			position: absolute;
			margin-top: 19px;
			margin-left: 70px;
			left: 0;

			.pullTimelineButton {
				padding: 5px;
				border-radius: 10px;
			}
		}
	}

	.error {
		margin: 0px 70px 40px 70px;
		border: 1px solid;
		padding: 10px;
		width: 89.3vw;
	}

	#timeline-inner {
		border: 1px solid;
		margin: 0px 70px 40px 70px;

		.tweet-style-one-last-tweet {
			@include tweet-style($user-timeline-color-one, 0px);
		}

		.tweet-style-two-last-tweet {
			@include tweet-style($user-timeline-color-two, 0px);
		}

		.tweet-style-one {
			@include tweet-style($user-timeline-color-one, 1px solid lightgrey);
		}

		.tweet-style-two {
			@include tweet-style($user-timeline-color-two, 1px solid lightgrey);
		}

		.profile {
			display: inline-block;
			@include dimensions(175px, 110px);
			margin: 15px 0 5px;
			vertical-align: middle;

			.profile-image {
				display: block;
				@include dimensions(60px, 60px);
				border-radius: 50%;
				margin: 0 auto 5px;
			}   

			.name {
				font-size: 14px;
				font-weight: bold;
				text-align: center;
				margin-bottom: 5px;
			}

			.handle {
				text-align: center;
				font-size: 12px;
			}
		}

		.message {
			width: 80vw;
			display: inline-block;
			vertical-align: middle;

			.timestamp {
				font-style: italic;
				font-size: 10px;
				padding-bottom: 4px;
			}

			.message-link {
				text-decoration: none;
				font-size: 14px;
				color: $message-text-color;
				word-break: break-word;
			}
		}
	}


	&::after {
		clear: both;
	}
}