* {
    font-family: Montserrat;
}

#title {
    text-align: center;
    font-size: 40pt;
    font-weight: bold;
}

#timeline-inner {
    border: 1px solid;
    margin: 20px;
}

#timeline-inner > div {
    position: relative;
}

div.tweet-style-one {
    background-color: #e8f5fd;
}

div.tweet-style-two {
    background-color: #e9e9e9;
}

img.profile-image {
    width: 75px;
    height: 75px;
    margin: 10px;
}

span.timestamp {
    font-style: italic;
    font-size: 12px;

    position: absolute;
    margin-top: 15px;
}

a.message-link {
    text-decoration: none;
    font-size: 14px;

    position: absolute;		
    margin-top: 30px;

    word-break: break-word;
    width: inherit;
}
