$tweet-style-one-color: #e8f5fd;
$tweet-style-two-color: #e9e9e9;
$message-text-color: black;

@mixin dimensions($width, $height) {
    width: $width;
    height: $height;
}

@mixin tweet-style($background-color, $border-bottom) {
    background-color: $background-color;
    border-bottom: $border-bottom;
}